body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin-top: 5rem;
}

h1 {
    text-align: center;
}

textarea {
    width: calc(100% - 2rem); /* Adiciona um padding proporcional */
    padding: 1rem; /* Adiciona espaço interno */
    margin: 1rem 0;
}

button {
    display: block;
    width: 100%;
    padding: 1rem;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: #555;
}
